.title{
    color: crimson;
    font-weight: 35px;
    margin: 10px auto;
}
.path{
    color: crimson;
    font-weight: 35px;

}
.notFoundImg{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}
.back_button{
    display: block;
    background-color: darkgreen;
    color: #fff;
    font-size: 20px;
    margin: 10px auto;
}